---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import Model3 from "../components/Model3.astro";
import Accesorios from "../components/Accesorios.astro";
import Powerwall from "../components/Powerwall.astro";
import ModelY from "../components/ModelY.astro";
import ModelS from "../components/ModelS.astro";
import ModelX from "../components/ModelX.astro";

---

<Layout title="TESLA LANDING">
  <LandingHeader />

  <main class="snap-y snap-mandatory relative w-full h-screen overflow-x-hidden scroll-smooth">
    <div class="snap-center" id="modely">
      <ModelY />
    </div>
    <div class="snap-center" id="model3">
      <Model3 />
    </div>
    <div class="snap-center" id="models">
      <ModelS />
    </div>
    <div class="snap-center" id="modelx">
      <ModelX />
    </div>
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center" id="powerwall">
      <Powerwall />
    </div>
    <div class="snap-center" id="accesorios">
      <Accesorios />
    </div>
  </main>
</Layout>
