---
import Section from "./Section.astro";
---

<Section
  title="Accesorios"
  subtitle=""
  color="black"
>

<div slot="footer">
    <a
      class="bg-white text-xs sm:text-sm rounded font-medium text-black px-20 py-3 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center"
      href="#">Comprar ahora</a
    >
</div>
  <img
    slot="background"
    class="object-cover object-center h-full w-full"
    src="../../Accesorios_tesla.avif"
  >
</Section>