---
import Logo from "./Logo.astro";
import MenuButton from './MenuButton.astro'
import Soporte from './icons/Soporte.astro'
import UserIcon from './icons/UserIcon.astro'

---

<header
  class="header Landing-section py-3 px-10 flex items-center fixed justify-between top-0 w-full z-40 text-white min-w-80"
  id="Landing-Header"
>
<div class="loguito flex flex-grow basis-0">
  <a href="/">
    <Logo />
  </a>
</div>
<div class="hamburguesa">
  <MenuButton />
</div>
<nav class="navlist flex items-center w-full justify-between">
      <ul
        class="cars mx-auto flex text-xs [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:font-medium [&>li>a]:text-current"
      >
        <li><a href="#modely">Model Y</a></li>
        <li><a href="#model3">Model 3</a></li>
        <li><a href="#models">Model s</a></li>
        <li><a href="#modelx">Model X</a></li>
        <li><a href="#powerwall">Powerwall</a></li>
        <li><a href="#accesorios">Accesorios</a></li>
      </ul>
      <ul
        class="profile flex text-xs [&>li>a]:inline-block [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:font-medium [&>li>a]:text-current"
      >
        <li>
          <a href="#"><Soporte /></a>
        </li>
        <li>
          <a href="#"><UserIcon /></a>
        </li>
      </ul>
  </nav>

  <div
 	  id="menu-backdrop" 
	  class={`
		absolute bg-black/5 backdrop-blur-lg rounded
		translate-x-[var(--left)] translate-y-[var(--top)]
		left-0 top-0
		w-[var(--width)] h-[var(--height)]
		transition-all duration-500
		ease-in-out opacity-0 -z-10
	`}
	>
	</div>
</header>

<script>
	const listItem = document.querySelectorAll("#Landing-Header li")
	const menuBackDrop = document.querySelector("#menu-backdrop") as HTMLElement

	listItem.forEach((item)=> {
		item.addEventListener("mouseenter",() => {
			const { left, top, width, height } = item.getBoundingClientRect()

			menuBackDrop.style.setProperty("--left", `${left}px`)
			menuBackDrop.style.setProperty("--top", `${top}px`)
			menuBackDrop.style.setProperty("--width", `${width}px`)
			menuBackDrop.style.setProperty("--height", `${height}px`)

			menuBackDrop.style.opacity = "1"
			menuBackDrop.style.visibility = "visible"
		})

		item.addEventListener("mouseleave", () => {
			menuBackDrop.style.opacity = "0"
			menuBackDrop.style.visibility = "hidden"
		})
	})
</script>

<script>
  const $header = document.querySelector("#Landing-Header") as HTMLElement;
  const observerOptions = {
    root: null,
    rootMargin: "0px",
    threshold: 0.9,
  };

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      const { isIntersecting } = entry;
      if (isIntersecting) {
        const color = entry.target.getAttribute("data-header-color");
        $header.style.color = color;
      }
    });
  }, observerOptions);

  const $sections = document.querySelectorAll(".landing-section");
  $sections.forEach((section) => observer.observe(section));
</script>
<style>
  header .hamburguesa {
    display: none;
  }
  @media screen and (max-width: 1050px) {
    header .hamburguesa {
      display: flex;
      z-index: 1;
    } 
    header .navlist {
      display: none;
    }
    header .activo {
      display: block;
      flex-direction: column;
      background-color: #fff;
      color: #000;
      width: 100%;
      
    }
    .navlist ul {
      flex-direction: column;
      gap: 4px;
      padding: 10px;
    }
    .navlist ul li {
      text-align: center;
    }
    .navlist ul li:hover {
      
      cursor: pointer;
    }
  }
</style>
<script>
  const button = document.querySelector('.hamburguesa')
  const nav = document.querySelector('.navlist')
  const header = document.querySelector('.header')

  button.addEventListener('click', () => {
    header.classList.toggle('flex-wrap')
    nav.classList.toggle('activo')
  })
</script>
