---
import Section from "./Section.astro";
---

<Section title="Solar y Powerwall" subtitle="Energía para todos" color="black">
  <div slot="footer">
    <a
      class="bg-gray-950/50 text-sm rounded font-medium text-white px-20 py-3 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center"
      href="#">Saber más</a
    >
  </div>
  <img
    slot="background"
    class="object-cover object-center h-full w-full"
    src="../../SolarPanels.avif"
  />
</Section>
